<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--viewport:enables webpage to identify the width of the device and adapt the content appropriately-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<title>{% block title %} {% endblock %}</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1><center>Snippet World</center></h1>
			<hr>
			<div class="row">
				<ul class="breadcrumb">
					{% block nav %}
					{% endblock %}
				</ul>
			</div>
			<br>
			<br>
			{% block content %}
			{% endblock %}
			{% block footer %}
			{% endblock %}
			<hr>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
