<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--viewport:enables webpage to identify the width of the device and adapt the content appropriately-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<title>{% block title %} {% endblock %}</title>
</head>
<body>
	<header class="jumbotron">
		<div class="container">
			<div class="row row-header">
				<div class="col-sm-5">
					<h1><center>Snippet World</center></h1>
				</div>
			</div>
		</div>
	</header>
	<hr>
	<div class="container">
			<div class="row">
				<ul class="breadcrumb">
					{% block nav %}
					{% endblock %}
				</ul>
			</div>
	</div>
	<br>
	<br>
		{% block content %}
		{% endblock %}
		{% block footer %}
		{% endblock %}
	<hr>

	<footer class="row-footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12" >
						<p>Thank You for visiting the site</p>
					</div>
				</div>
			</div>
		</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
