{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block nav %}
  <li><a href="/welcome/">Home</a></li>
  <li class="active">Login</li>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row row-content">
  <form action="" class="form-horizontal col-sm-2" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Username:</label><input type="text" class="form-control" name="name" id="name"  required><br>
    </div>
    <div class="form-group">
      <label for="password">Password:<input type="password" class="form-control" name="password" id="password" required><br>
    </div>
    <div class="form-group">
      <input type="submit" value="Login" class="btn btn-primary" class="form-control">
    </div>
  </form>
  <div class="col-sm-3 col-sm-offset-7">
    <a class="btn btn-default" href="/register/">Haven't Registered yet?</a>
  </div>
  </div>
  <br>
  <div class="row">
  <ul>
    {% for user in user_list %}
      <li>{{ user }}</li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}
