{% extends "base.html" %}
{% block title %}Snippet World{% endblock %}
{% block content %}
<div class="container">
	<div class="row row-content">
		<div class="col-sm-6">
			<form class="form-horizontal col-sm-6" role="form" action="" method="get">
				<div class="form-group">
					<label for="options">What would like to search for?</label>
					<select class="form-control" id="options">
					{% for option in option_list %}
						<option>{{ option }}</option>
					{% endfor %}
					</select>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<div class="container">
	<div class="row row-content">
		<p>Do you wish to help us?</p>
	</div>
</div>
{% endblock %}
