{% extends "base.html" %}
{% block nav %}
  <li><a href="/welcome/">Home</a></li>
  <li><a href="/search/">Search</a></li>
  <li class="active">Result</li>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row row-content">
      <div class="col-sm-6">
        <p>Here's your code!</p>
        {% if code_exists %}
          <textarea readonly>{{ code }}</textarea>
        {% else %}
          <p>Code does not exist</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
