{% extends "base.html" %}
{% block nav %}
<li><a href="/welcome/">Home</a></li>
<li class="active">Search</li>
{% endblock %}
{% block title %}Snippet World{% endblock %}
{% block content %}
<div class="container">
	<div class="row row-content">
		<div class="col-sm-6 left">
			<form action="/searchresult/" class="form-horizontal col-sm-6" role="form"  method="get">
				<div class="form-group">
					<label for="options">What would like to search for?</label>
					<select name="option" class="form-control" id="options">
					{% for option in options_list %}
						<option>{{ option }}</option>
					{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<input type="submit" style="resize:horizontal; width:140px" class="form-control col-sm-1 btn btn-default" value="Search">
				</div>
			</form>
		</div>
	</div>
	<br><hr>
	<div class="row row-content">
		<div class="col-sm-6 left">
			<form action="/searchresult/" class="form-horizontal col-sm-6" role="form"  method="get">
				<div class="form-group">
					<label for="options">Or do you want find a particular functionality?</label>
					<select name="option" class="form-control" id="options">
					{% for option in options_list %}
						<option>{{ option }}</option>
					{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="functionType">For what functionality?</label>
					<select id="functionType" name="functionType" class="form-control">
						<option>God knows bro..</option>
					</select>
				</div>
				<div class="form-group">
					<input type="submit" style="resize:horizontal; width:140px" class="form-control col-sm-1 btn btn-default" value="Search">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<br><br>
<div class="container">
	<div class="row row-content">
		<p>Do you wish to help us?</p>
		<p><a href="/insertCode/">Share your Code</a></p>
	</div>
</div>
{% endblock %}
