{% extends "base.html" %}
{% block header %}
<header class="jumbotron rest" style="height:30vh">
  <div class="container">
  <br><br>
    <div class="row row-header">
      <div class="col-sm-5">
        <h1><center><code style="background-color:black; color:#00c499; font-size:50px;">Snippet World</code></center></h1>
      </div>
      <div style="padding-top:110px" class="col-md-1 col-md-offset-5">
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block nav %}
  <li><a href="/welcome/">Home</a></li>
  <li><a href="/search/">Search</a></li>
  <li class="active">Result</li>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row row-content">
      <div class="col-sm-9">
        <h3>Here's your code!</h3><hr>
        {% if code_exists %}
          <ul style="list-style-type:none;">
            <h2>{{app_name}}</h2>
            <textarea class="form-control" rows="5" readonly placeholder="Application Description">{{ app_description }}</textarea>
            {% for key, value in functions_code.items %}
            <li><h4>{{ key }}</h4>
              {% for key1,value1 in value.items %}
              <label for="function_desc">Function</label>
              <textarea class="form-control" id="function_desc" rows="10" readonly placeholder="Function Description">{{ key1 }}</textarea><br>
              <h4>Code</h4>
              {% for key2 in value1.keys %}
              <div class="col-sm-2 btn btn-default" id="{{ key2 }}">{{key2}}</div>
              {% endfor %}
              {% for key2, value2 in value1.items %}
              <div class="{{ key2 }}">
              <form class="form-horizontal" action="/execute/" role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control" name="code" id="code" style="font-family:Changa" rows="40" cols="70">{{ value2 }}</textarea><br>"
                  <input type="text" class="form-control hidden" name="language" value="{{ key2 }}">
                  <input type="submit" class="form-control btn btn-primary col-sm-1 col-sm-push-11" style="width:70px" value="Run">
                </div>
              </form>
              <br>
              <button class="btn btn-primary feedbackbtn" name="feedbackbtn" ><span class="glyphicon glyphicon-comment feedbackbtn"></span></button>
              <div class="feedbackForm">
                <div class="col-sm-1 col-xs-1 col-sm-offset-11">
                  <button id="closeFeedback" class="btn"><span class="glyphicon glyphicon-remove" style="position:relative; right:0px; top:0px"></span></button>
                </div>
                <form action="/feedback/" class="form-horizontal" role="form" method="post"  style="padding:20px">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="feedback">Please provide your feedback:</label>
                    <textarea class="form-control" rows="5" style="width:435px" name="feedback" id="feedback" placeholder="Provide your feedback here"></textarea>
                  </div>
                  <div class="form-group" style="display:None">
                    <textarea name="application" class="form-control">{{ app_name }}</textarea>
                  </div>
                  <div class="form-group" style="display:None">
                    <textarea name="function" class="form-control">{{ key }}</textarea>
                  </div>
                  <div class="form-group" style="display:None">
                    <textarea name="language" class="form-control">{{ key2 }}</textarea>
                  </div>
                  <div class="form-group col-sm-1 col-sm-push-5">
                    <input type="submit" style="width:100px" class="form-control btn btn-default" value="Submit">
                  </div>
                </form>
              </div>
            </div>
              {% endfor %}
              {% endfor %}
              <hr>
            </li>
            {% endfor %}
          </ul>
        {% else %}
	        <textarea placeholder="Code does not exist" class="form-control" readonly></textarea>
        {% endif %}
      </div>
      <div class="col-sm-3">
        <div class="sidebar-nav-fixed pull-right affix">
          <div class="well" style="width:325px">
            <h4>User Feedbacks</h4><hr style="color:red">

            {% for key, value in feedback.items %}
              <p><b>{{ key }}:</b> {{ value }}</p>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
